@import url("https://fonts.googleapis.com/css?family=Chivo:300,700|Playfair+Display:700i");
/*Global styles*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-font: 'Chivo', normal;
    --secondary-font: 'Work Sans', sans-serif;
    --body-font: 'Roboto';
    --main-font-color-dark: #252525;
    --secondary-font-color: #c59d5f;
    --body-font-color: #515151;
}

html{
    font-family: var(--body-font);
    font-size: 10px;
    color: var(--body-font-color);
    scroll-behavior: smooth;
}

section{
    padding: 3.9rem 0;
}

img{
    padding-top: 0px;
    width: 100%;
    max-width: 100%;
}

.logo{
    padding-top: 300px;
}

a{
    text-decoration: none;
}

p{
    font-size: 1.6rem;
}

.container{
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}

header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgb(163, 241, 255), transparent);
}

.nav{
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-toggle{
    color: #fff;
    font-size: 2.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5rem;
    cursor: pointer;
    z-index: 1500;
}

.fa-times{
    display:none;
}

.nav-list{
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 35%;
    height: 100vh;
    background-color: var(--main-font-color-dark);
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    transform: translateX(-100%);
    transition: transform .5s;
}

.nav::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.8);
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}

.open .fa-times{
    display: block;
}

.open .fa-bars{
    display: none;
}

.open .nav-list{
    transform: translateX(0);
}

.open .nav::before{
    opacity: 1;
    transform: scale(1);
}

.nav-item{
    border-bottom: 2px solid rgba(255,255,255, .3);
}

.nav-link{
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-right: -2px;
    transition: color.5s;
}
.nav-link:hover{
    color: var(--secondary-font-color);
}

body{
    background: url("images/cloudstwo.png") center no-repeat;
    background-position-y: 100rem;
    background-size: cover;
}

.hero{
    width: 100%;
    height: 100vh;
    background: url("images/clouds.png") center no-repeat;
    background-size: cover;
    background-position-y: -20rem;
    display: flex;
    align-items: center;
    text-align: center;
}   

.headline2{ 
    color: #0772ff;
    font-size: 3rem;
    font-family: var(--secondary-font);
    font-weight: 900;
    letter-spacing: -0.2rem;
    /* margin-right: 100rem; */
    margin-top: 0rem;
    animation: slide-in .6s forwards;
}

.headline{ 
    color: white;
    font-size: 8rem;
    font-family: var(--main-font);
    font-weight: 900;
    letter-spacing: 0rem;
    /* margin-right: 100rem; */
    margin-top: -15rem;
    animation: scale .5s forwards;
}

.global-headline{
    text-align: center;
    margin-top: 3.9rem;
}

@keyframes scale {
    0%{ 
        transform: scale(5);
    }
    100%{
        opacity: 1;
        transform: sacle(1);
    }
}

@keyframes slide-in {
    0%{
        opacity: 0;
        transform: translateY(-200%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}

.global-headline{
    color: black;
    text-align: center;
    margin-bottom: 50px;
}

.sub-headline{
    font-size: 120px;
}

.moodtrack-title{
    color:black;
    text-align: center;
    font-size: 60px;
}

.moodtrack-img{
    height: 0px;
}

.body-btn{
    font-size: 1.5rem;
    color: white;
    position: relative;
    left: 45%;
    bottom: 15px;
    width: 100%;
    height: 2px;
    transition: background-color .5s;
}

.body-btn::before{
    background-color: white;
}

.body-btn:hover,
.body-btn:focus{
    color:var(--secondary-font-color);
}

.body-btn:hover::before,
.body-bten:focus::before{
    background-color: var(--secondary-font-color);
}

#about{
    padding-top: 98px;
    padding-bottom: 101px;
}

.fa-play{
    font-size: 100px;
}

#about .p-first{
    margin-bottom: 30px;
}

#about h2{
    margin-bottom: 47px;
    margin-top: 12px;
    font-family: var(--main-font);
    font-size: 7rem;
}

#about p{
    font-family: var(--body-font);
    font-weight: 500;
}

#about .social-link-text{
    margin-top: 50px;
    margin-bottom: 25px;
}

#about .about-link{
    padding-left: 0px;
}

#about .about-link li{
    display: inline-block;
    float: left;
}

#about .about-link li a{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    border: 1px solid #0772ff;
    margin-right: 10px;
    font-size: 22px;
    color: #0772ff;
    transition: all .3s;
}

#about .about-link li a:hover{
    color: black;
    background: skyblue;
    border-color: skyblue;
}

#about .about-img{
    position: relative;
}

#about .about-img{
    position: relative;
}

#about .about-img .profile{
    position: relative;
    bottom: 161px;
    top: 12px;
    left: -2px; 
}

.color-3{
    color: black;
}

.text-black{
    color: black;
}

p{
    margin-bottom: 0;
    font-size: 16px;
    line-height: 24px;
    color: #d6c6b2
}

.btn-danger{
    border-radius: 0;
    padding: 10px 20px;
}

.projects {
    width: 100vw;
    height: 100rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color:black;
}

.card {
    display: grid;
    grid-template-columns: 650px;
    grid-template-rows: 520px 210px 80px;
    grid-template-areas: "image" "text" "stats";

    font-family: roboto;
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0,9);
    text-align: center;

    transition: 0.2s ease;
    cursor: pointer;
}

.card-image {
    grid-area: image;
    background: url("images/moodtrack.png");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;

}

.card-text {
    grid-area: text;
    margin: 25px;
}

.card-text .date{
    color: rgb(0, 81, 255);
    font-weight: 500;
    font-size: 15px;
}

.card-text p{
    color: black;
    font-size: 15px;
    font-weight: 300;
    text-align: left;
}

.card-text h2{
    margin-top: 0px;
    font-size: 28px;
}

.card-stats{
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #0772ff;
}

.card-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: white;
}

.value a {
    font-size: 40px;
    color: white;
}
.card-stats .type{
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.card-stats .value {
    font-size: 22px;
    font-weight: 500;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0,0,0,.8);
}

.projectLabel h2{
    align-items: center;
    text-align: center;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 8rem;
    color: black;
    letter-spacing: -8px;

}

.projectLabel span{
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce .4s ease infinite alternate;
}

.projectLabel span:nth-child(2){animation-delay: .1s;}
.projectLabel span:nth-child(3){animation-delay: .2s;}
.projectLabel span:nth-child(4){animation-delay: .3s;}
.projectLabel span:nth-child(5){animation-delay: .4s;}
.projectLabel span:nth-child(6){animation-delay: .5s;}
.projectLabel span:nth-child(7){animation-delay: .6s;}
.projectLabel span:nth-child(8){animation-delay: .7s;}
.projectLabel span:nth-child(9){animation-delay: .8s;}

@keyframes bounce{
    100%{
        top: -5px;
    }
}

